*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FF9900;
}
.MainDiv *{
    margin: 2%;
}
.MainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.MainDiv h1{
    margin-bottom: 3%;
}
.Gandhi-img{
    width: 800px;
    height: 400px;
}
.Gandhi-photo{
    background-color: #003366;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body footer{
    background-color: #cccccc;
    width: 100%px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
}
nav{
    background-color: #cccccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    margin-left: 18px;
    /* margin-right: 18px; */
    color: black;
}
.last-p{
    transform: translateX(-.3%);
}
p{
    font-size: large;
}